
.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    
  }
  
 .title-habitats {
    color: #D9E327;
 }


body {

    background: #DF5D0C;
}
.toto {

  background-image: url('/uploads/animaux.webp');
  object-fit: cover;
  background-size: calc(100%) calc(100% );
  height: 100vh;
  width: 90vw;
  opacity: 0.9;
  border-radius: 8px;
margin-left: 5vw;
margin-top: 5vh;
}


.form_comments {
    width: 200px;
    padding: 150px;
}

.form_contact {

  width: 400px;
}

.form_contact input, textarea {
  width: 300px;
  height: 40px;
  margin-left: 40vw;
  margin-top: 40px;

}

.form_contact .btn-submit {

  width: 80px;
  height: 30px;
  margin-left: 60vw;
  margin-top: 8px;
}

.img_presentation{

    background-image: url('/uploads/lion.jpg');
    object-fit: cover;
    background-size: calc(100%) calc(100% );
    height: 100vh;
    width: 70vw;
    border-radius: 50px;
    margin: auto;
    margin-top: 200px;
    
}

.btn_presentation {

    background: #edb20f;
    width: 200px;
    height: 50px;
    margin-left: 70vw;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 1em;
    
    
}

.services {
  
  
  margin-left: 50vw;
  position: absolute;
  margin-top: 50vh;
  width: 400px;

  color: yellow;
}

.services_liste b {
  
  color: brown;
  font-size: 1.7em;
}


  .view_services {
    justify-content: space-around;
    text-align: center;
    margin-top: 5vh;
    
  }
  
  .horaires {

    font-size: 0.8em;
  
  }
  @media (min-width: 810px) {

    .menu-btn{

      display: none;
    }
  }

  @media (max-width: 1170px) {
   
    

    .title_zoo {
        
        margin-top: 5px;
        margin-left: 10px;
        font-size: 1.3em;
       
    }

    .img_animals {


        border-radius: 8%;
    }
    .toto {

        background-image: url('/uploads/animaux.webp');
        object-fit: cover;
        background-size: calc(100%) calc(100% );
        height: 90vh;
        width: 90vw;
        opacity: 0.9;
        border-radius: 8px;
      margin-left: 5vw;
      margin-top: 5vh;
    }

    .img_presentation {
      background-image: url('/uploads/lion.jpg');
        height: 90vh;
    }

    .btn_presentation {

        width: 150px;
        height: 30px;
        margin-left: 60vw;
        font-size: 0.7em;
    }
  }
  @media (min-width: 810px) and (max-width: 1170px) {

    .msg-header {
 
     display: none;

      
       
      }
   

      .hippo-radius {

        
        border-radius: 50%;
        width: 25vw;
        height: 20vh;
        margin-left: 5vh;
        margin-top: 15vh;
        position: absolute;
      }
      .rapace-radius {

        
        border-radius: 50%;
        width: 25vw;
        height: 20vh;
        margin-left: 5vh;
        margin-top: 15vh;
        position: absolute;
      }

      
  }

  @media (min-width: 600px) and (max-width: 1170px) {
    header {

        height: 40vh;
    }

    .img_presentation {

        height: 48vh;
    }

    .toto {

        background-image: url('/uploads/animaux.webp');
        object-fit: cover;
        background-size: calc(100%) calc(100% );
        height: 70vh;
        width: 90vw;
        opacity: 0.9;
        border-radius: 8px;
      margin-left: 5vw;
      margin-top: 5vh;
    }

      .form_contact {

        width: 400px;
      }

      .form_contact input, textarea {
        width: 300px;
        height: 40px;
        margin-left: 40vw;
        margin-top: 40px;
      
      }

      .form_contact .btn-submit {

        width: 80px;
        height: 30px;
        margin-left: 60vw;
        margin-top: 8px;
      }

      .msg-header {
 
        margin-top: 13vh;
         margin-left: -5vh;
         font-size: 1.5em;
         
         
        }


  }

 
  
  @media (min-width: 450px) and (max-width: 600px)  {

    .form_contact input, textarea {
      width: 300px;
      height: 40px;
      margin-left: 23%;
      margin-top: 40px;
     
    }

    .form_contact .btn-submit {

      width: 80px;
      height: 30px;
      margin-left: 60vw;
      margin-top: 8px;
    }
  }
 
  @media (min-width: 360px) and (max-width: 810px) {
    
    
    .hippo-radius {

      display: none;
     }
     .rapace-radius {

      display: none;
     }
    .table_habitats {
      margin-left: 10vw;
       text-align: center;
      
       margin-top: 25vh;
   }


   
     
    .text-animals {

        margin-left: 20vw;
        font-size: 1em;
       
     }

     .fin-text {

        display: none;
     }

     .cards_animals > ul {
   
       display: none;
      
     }
   nav {
     display: none;
      
    }

   
    

      
    }
  
   
  @media (min-width: 360px) and (max-width: 600px) {

    .msg-header {
 
      margin-top: 10vh;
       margin-left: -5vh;
       font-size: 1em;
       
       
      }
    .table_habitats {
      margin-left: 10vw;
       text-align: center;
      
       margin-top: 40vh;
   }
    
    header {

        height: 20vh;
    }
   
    
    .img_animals {


        border-radius: 8%;
    }
    .toto {

        background-image: url('/uploads/animaux.webp');
        object-fit: cover;
        background-size: calc(100%) calc(100% );
        height: 35vh;
        width: 90vw;
        opacity: 0.9;
        border-radius: 8px;
      margin-left: 5vw;
      margin-top: 5vh;
    }

    .img_presentation {

        height: 35vh;
    }

    .btn_presentation {

        width: 150px;
        height: 30px;
        margin-left: 45vw;
        font-size: 0.7em;
    }

    .services {
        display: block;
        margin-left: 10vw;
      position: relative;
      margin-top: 50px;
    }
    .form_comments {
        width: 150px;
        padding: 50px;
    }
    .comments_liste {
        display: block;
        margin-left: 5vw;
        position: relative;
        margin-top: 50px;
        font-size: 0.8em;
        width: 200px;
    }
    
    .cards_habitats {
       
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: lightgreen;
    }
  }
    @media (min-width: 360px) and (max-width: 450px) {

     

    .form_contact input, textarea {
      width: 200px;
      height: 30px;
      margin-left: 23%;
      margin-top: 20px;
     
    }


    .form_contact .btn-submit {

      width: 80px;
      height: 30px;
      margin-left: 50%;
      margin-top: 8px;
    }
    
   
}